
.login-box{
    width: 320;
    height: 420;
    background: black;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;

}
.login-box .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.login-box h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;

}
.login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold ;
    display: block;
}
.login-box input{

    width: 80%;
    margin-bottom: 20px;
}
.login-box input[type="email"],
.login-box input[type="password"]{
border: none;
border-bottom: 1px solid #fff;
background: transparent;
outline: none;
height: 40px;
color: white;
font-size: 16px;

}
.login-box input[type="sumbit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #FFF;
    font-size: 18px;
    border-radius: 20px;

}
.login-box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;

}
.login-box a:hover{
    color: white;
}
.fondo {
    background: url(/img/imagen-fondo.jpg) #ccc no-repeat;
    background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        height: 600px;
        margin: auto;
        padding: auto;
        font-family: sans-serif;
        overflow:scroll;
         -webkit-background-size: cover;
            -moz-background-size: cover;
}